
@model Pie
    <!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
  
                    <!-- Product Detail -->
                    <div class="product-details">
                        <!--Basic Details-->
                        <div class="basic-details">
                            <div class="row clearfix">
                                <div class="image-column col-md-6 col-sm-12">


                                    <figure class="image">
                                        <a href="@Model.ImageUrl" class="lightbox-image"
                                           title="Image Caption Here">
                                            <img src="@Model.ImageUrl" alt="">
                                            <span class="icon fa fa-search"></span>
                                        </a>
                                    </figure>
                                </div>
                                <div class="info-column col-md-6 col-sm-12">
                                    <div class="details-header">
                                        <h2>@Model.Name</h2>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="item-price">@Model.Price ₽</div>
                                        <div class="text">@Model.ShortDescription  </div>
                                    </div>

                                    <div class="other-options clearfix">

                                        <p class="button">
                                            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                                               asp-route-pieId="@Model.PieId">Додати в кошик</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Basic Details-->
                        <!--Product Info Tabs-->
                        <div class="product-info-tabs">
                            <!--Product Tabs-->
                            <div class="prod-tabs tabs-box">

                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-details" class="tab-btn active-btn">Опис продукту</li>
                                    <li data-tab="#prod-reviews" class="tab-btn ">Відгуки </li>
                                </ul>

                                <!--Tabs Container-->
                                <div class="tabs-content">

                                    <!--Tab-->
                                    <div class="tab active-tab" id="prod-details">

                                        @Model.LongDescription
                                    </div>

                                    <!--Tab-->
                                    <div class="tab " id="prod-reviews">

                                        <!--Reviews Container-->
                                        <div class="comments-area">
                                            <!--Comment Box-->
                                            <div class="comment-box">
                                                <div class="comment">
                                                    <div class="author-thumb"><img src="https://via.placeholder.com/60x60" alt=""></div>
                                                    <div class="comment-inner">
                                                        <div class="comment-info clearfix">
                                                            <strong class="name">Алекс</strong>
                                                            <span class="date">– 07 Серпня</span>
                                                        </div>
                                                        <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star light"></span>
                                                        </div>
                                                        <div class="text">Як мені бракує її але я змушений дотримуватися дієти.</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Comment Box-->
                                            <div class="comment-box">
                                                <div class="comment">
                                                    <div class="author-thumb"><img src="https://via.placeholder.com/60x60" alt=""></div>
                                                    <div class="comment-inner">
                                                        <div class="comment-info clearfix">
                                                            <strong class="name">Maria</strong>
                                                            <span class="date">– 23 Вересня</span>
                                                        </div>
                                                        <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star light"></span>
                                                        </div>
                                                        <div class="text">Відмінно.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Comment Form-->
                                        <div class="comment-form">

                                            <div class="form-outer">

                                                <div class="rating-box">
                                                    <div class="field-label">Поставте оцінку</div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                    </div>
                                                </div>
                                                <form method="post" action="https://localhost:44351/Order/Checkout">
                                                    <div class="row clearfix">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                            <div class="field-label">Ваш відгук *</div>
                                                            <textarea name="message" placeholder=""></textarea>
                                                        </div>

                                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                            <div class="field-label">Імя *</div>
                                                            <input type="text" name="username" placeholder="" required="">
                                                        </div>

                                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                            <div class="field-label">Email *</div>
                                                            <input type="email" name="email" placeholder="" required="">
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group text-right">
                                                            <input type="submit" name="submit" value="Підтвердити">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Product Info Tabs-->
                        <!-- Services Section -->  @*наші фірмові страви слайдер*@
                       
                            <div class="auto-container">

                                <div class="sec-title text-center">
                                    <div class="divider"><img src="images/icons/divider_1.png" alt=""></div>
                                    <h2>Фірмові страви цього сезону</h2>
                                </div>
                                <!-- Services Carousel -->
                                <div class="services-carousel owl-carousel owl-theme">
                                    <!-- Service Block -->
                                    <div class="service-block">
                                        <div class="inner-box">
                                            <div class="image-box">

                                                <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/pumpkinpie.jpg" alt="">
                                            </div>
                                            <h3>Гарбузовий десерт</h3>
                                            <p>Наш улюблений Хелловін!</p>
                                        </div>
                                    </div>

                                    <!-- Service Block -->
                                    <div class="service-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/cranberrypie.jpg" alt="">
                                            </div>
                                            <h3>Журавлинний пиріг</h3>
                                            <p>Улюблений на Різдво.</p>
                                        </div>
                                    </div>

                                    <!-- Service Block -->
                                    <div class="service-block">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/christmasapplepie.jpg" alt="">
                                            </div>
                                            <h3>Різдвяний десерт</h3>
                                            <p>Щасливих свят !</p>
                                        </div>
                                    </div>

                                    <!-- Service Block -->
                                    <div class="service-block">
                                        <div class="inner-box">
                                            <div class="image-box">

                                                <img src="https://gillcleerenpluralsight.blob.core.windows.net/files/cherrypie.jpg" alt="">
                                            </div>
                                            <h3>Вишневий пиріг</h3>
                                            <p>Літня класика!</p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                       



                    </div><!-- Product Detail -->
                </div><!-- End Shop Single -->
            </div>
        </div>




























@*<br />
<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-pieId="@Model.PieId">Додати в кошик</a>
            </p>
        </div>
    </div>
</div>*@